pre,
code {
    font-family: "Hack", monospace;
    font-weight:100;
}

html * {
    border: 1px solid hsla(260, 75%, 27%, 0.47);
    font-family: "Hack";
    font-weight: 100;
    background: rgba(183, 160, 241, 0.67)
}

img {
    max-width:100%;
    height:100%;
}
body {
    font-weight: 100;
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1300px;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid blue;
    z-index: 5;
    align-items: center;
}

h1,
p,
div,
section {
    padding: 1px;
    margin: 1px;
    /* the most thorough reset */
}

.nav-logo {
    flex-grow: 1;
    align-items: baseline;
    max-width: 150px;
    text-align: center;
}

.nav-logo .fa {
    font-size: 2em;
    animation: .75s linear infinite star-logo;
    border:0;
}

.title-container {
    flex-grow: 9;
    text-align: right;
}

.banner {
    background: rgba(0, 0, 0, .3) url(../images/b1.png) center/contain no-repeat;
    height: 30vh;
}

.card-holder {
    display: flex;
    flex-direction: column;
}
.img-container{
    text-align: center;
    height:50%;
}
.card h2 {
    margin-bottom: .25em;
    height: 2em;
}
@media (min-width:786px) {
    .card-holder{
        flex-direction:row;
    }
    .card {
        width: 33vw;
        align-items: center;
    }
    .card h2{
        padding-top:1em;
    }
}

@keyframes star-logo {
    0% {
        color: chartreuse;
    }
    15% {
        color: #663399; /* I'm very mad, validator claims rebeccapurple is not a real color.
        I am here to inform you dear sir/ma'am, it is. This is a personal grievance I have had to suffer.  Now my animation has a hexcode over a color name in it now. Sad. */
    }
    30% {
        color: lightseagreen;
    }
    45% {
        color: palegoldenrod;
    }
    60% {
        color: powderblue;
    }
    75% {
        color: tomato;
    }
    90% {
        color: darkslateblue;
    }
    100% {
        color: seagreen;
        transform: rotate3D(1,40,15, 720deg);
    }
}